* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

    --header-color: #fff;
    --header-mobile-color: #394048;
    --li-color: #69727c;
    --li-mob-color: #ebedf2;
    --bg-color: #0c6db3;
    --secondary-title-color: #2f353b;
    --paragraph-color: #93989c;
    --top-line-color: #1feea2;
    --fotter-text-color: #818e9a;
    --bt-hv-color: #32c5d2;
}

/* NAVBAR */
#navbar {
    position: absolute;
    background-color: var(--header-color);
}

#navbar a {
    font-weight: bold;
    color: var(--li-color);
}

#navbar-items {
    margin-top: 0.2em;
}

#navbar-items a:hover {
    color: var(--bg-color);
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 220px;
}

.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}

.navbar-toggler {
    font-size: 2em;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: right;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
}

@media(max-width: 991px) {
    #navbar {
        background-color: var(--header-mobile-color);
    }
    
    #navbar button {
        color: #ffffff;
    }

    #navbar a {
        color: var(--li-mob-color);
    }

    #navbar-items a {
        border-bottom: 1px solid #404851;
    }
    .nc-desktop-logo {
        display: none;
    }
}

@media(min-width: 992px) {
    .nc-mobile-logo {
        display: none;
    }
}

/* SLIDER */
#slider {
    margin-top: 6.65em;
    display: block;
}

#slider .carousel-indicators button {
    width: 15px;
    height: 13px;
    border-radius: 100%;
    background-color: var(--li-mob-color);
}

#slider .carousel-indicators button:active {
    color: var(--secondary-title-color);
}

#slider .carousel-caption {    
    top: 12%;
}

#slider .carousel-caption h3 {
    font-size: 3em;
    text-shadow: #000 2px 2px;
    
}

.btn {
    border-radius: 0;
}

#slider .btn {
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: var(--top-line-color);
    font-size: 3em;
}

.carousel-control-prev i:hover,
.carousel-control-next i:hover {
    color: var(--bt-hv-color);
}

.carousel-indicators [data-bs-target] {
    background-color: #222;
    opacity: 0.8;
}

.carousel-indicators .active {
    background-color: #000;
}

@media(min-width: 768px) {
    #slider .carousel-caption {    
        top: 37%;
    }

    #slider .btn {
        padding: 0.6 1.6em;
        font-size: 1.2em;
    }

    .carousel-indicators {
        bottom: 1.8em;
    }
}

@media(min-width: 1450px) {
    #slider .carousel-caption h3 {
        font-size: 4.5em;
    }

    .carousel-control-prev i,
    .carousel-control-next i {
        font-size: 5em; 
    }
}

/* SOBRE */
#sobre {
    padding: 80px 0 80px 0;
}

.line-left {
    width: 30px;
    height: 3px;
    margin: 0 0 30px 0;
    background: #0c6db3;
}

.card {
    position: relative;

    font-size: 17px;
    color: #93989c;
    background-color: #ffffff;
    
    width: 60%;
    padding: 25px;
}

.content {
    display: block;
}

.content-feature-5 .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 65px;
}

@media (max-width: 1199px){
    .content-feature-5 .card {
        position: static;
        width: 100%;
        z-index: auto;
    }
    
    .content-feature-5 .img-responsive {
        position: static;
        margin: 20px 0px;
    }
}

#sobre img {
    border: 0;
}